.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 90%;
  position: relative;
  overflow-y: auto; /* 스크롤 가능하도록 설정 */
  max-height: 80vh; /* 모달의 최대 높이를 화면 높이의 80%로 설정 */
}

.modal-close {
  position: absolute;
  top: 0px;
  right: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 24px;
  height: 24px;
  opacity: 0.6;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:before,
.modal-close:after {
  position: absolute;
  left: 11px;
  content: " ";
  height: 24px;
  width: 2px;
  background-color: #333;
}

.modal-close:before {
  transform: rotate(45deg);
}

.modal-close:after {
  transform: rotate(-45deg);
}

/* 로딩 스피너 스타일 */
.loader {
  margin: 0 auto; /* 가운데 정렬 */
  display: block;
}
