.search-results {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
}

.result-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.result-item img {
  width: 160px; /* 썸네일 너비를 더 크게 조정 */
  height: 120px; /* 썸네일 높이를 더 크게 조정 */
  object-fit: cover;
  border-radius: 5px;
}

.result-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.result-info {
  flex-grow: 1;
}

.result-title {
  font-size: 14px; /* 제목 글자 크기를 조금 더 작게 조정 */
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.result-channel {
  font-size: 12px; /* 채널명 글자 크기를 조금 더 작게 조정 */
  color: #666;
}

.result-icon {
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
}

.play-icon::before {
  content: "▶"; /* 재생 아이콘 */
}

.add-icon::before {
  content: "+"; /* 추가 아이콘 */
}
